@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>
        <a>Aplicação para abertura de chamados desenvolvida em ASP.NET Core</a>.
    </p>
    <!--   <img class="img-thumbnail" src="img/bg-masthead.jpg" alt="">-->
    <style>
        body {
            background: url("img/bg-masthead.jpg")
        }
    </style>