@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Aplicação para abertura de chamados desenvolvida em ASP.NET Core</a>.</p>
</div>
