@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>
        <a>Aplicação para abertura de chamados desenvolvida em ASP.NET Core</a>.
        <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
    </p>
</div>


