@{
    ViewBag.Title = "Registor de Ocorrências";
}

<div class="jumbotron">
    <h1>Ocorrências</h1>
    <p class="lead">REGISTRO DE OCORRÊNCIAS é um software desenvolvido em ASP.Net usando C#, HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia Mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Começando</h2>
        <p>
            REGISTRO DE OCORRÊNCIAS é uma ferramenta de gestão de ordens de servico de manutenção em equipamentos de informática,
            usada para registrar as ocorrências de manutenção, dando assim apoio as técnico e clientes da Empresa
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solicite seu Orçamento</h2>
        <p>Solicite um Orçamento.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais serviços</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
</div>